.eventPreview {
    background-color: #FF5621;
    width: 30%;
    margin: 5%;
    float: left;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.eventPreview img {
    background-color: white;
}

h1,p {
    margin: 5%;
}
